<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1070868937636-e9md3i5tuk39cn9ivnsl5lioarfvi3j3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1070868937636-e9md3i5tuk39cn9ivnsl5lioarfvi3j3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1070868937636-9sp38b1pffhui7bpc6gkjq4pe90fd00o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyADFJoVc3SBRDqX-QuUobDVi8wofzblHs0</string>
	<key>GCM_SENDER_ID</key>
	<string>1070868937636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.charity</string>
	<key>PROJECT_ID</key>
	<string>dono-groups</string>
	<key>STORAGE_BUCKET</key>
	<string>dono-groups.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1070868937636:ios:686a7ff36b1f8271929f31</string>
</dict>
</plist>